[Desktop Entry]
Comment=keepass
Terminal=false
Name=Password File
Exec=keepass-gdrive
Type=Application
Icon=/home/eric/Linux Tools/configs/password.png
